.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transaction-history {
  background-color: #f5f5f5; /* Light grey background */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 100%; /* Adjust width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}

.transaction-history h3 {
  color: #333;
  margin-bottom: 15px;
}

.transaction-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Creates a responsive grid */
  gap: 15px; /* Adjust the space between tiles */
}

.transaction-tile {
  background-color: #ffffff; /* White background for each tile */
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for each tile */
}

.transaction-tile div {
  margin-bottom: 8px;
  font-size: 0.9rem; /* Smaller font size for content */
  word-break: break-all; /* Breaks the text to prevent overflow */
}

/* Responsive design: Adjust the grid layout on smaller screens */
@media (max-width: 768px) {
  .transaction-list {
    grid-template-columns: 1fr;
  }
}

li a {
  text-decoration: none;
  color: #fff;
}

.nav-btn-width {
  width: max-content;
  margin: 0 0 0 15px;
}

.connect-btn {
  vertical-align: sub;
}